In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('wine.csv')

In [3]:
display(data.nunique())

country                      43
description              119955
designation               37979
points                       21
price                       390
province                    425
region_1                   1229
region_2                     17
taster_name                  19
taster_twitter_handle        15
title                    118840
variety                     707
winery                    16757
dtype: int64

In [4]:
display(data['price'].max())

3300.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 12.9+ MB

In [6]:
duplicate_rows = data[data.duplicated()]
display(duplicate_rows.shape)

(9983, 13)

In [7]:
missing_values = data.isnull()
display(missing_values)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,False,False,False,False,True,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,True,True,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,False,False,False,False,False,False,True,True,False,True,False,False,False
129967,False,False,True,False,False,False,False,False,False,False,False,False,False
129968,False,False,False,False,False,False,False,True,False,False,False,False,False
129969,False,False,True,False,False,False,False,True,False,False,False,False,False
129970,False,False,False,False,False,False,False,True,False,False,False,False,False

In [8]:
import pandas as pd
import dtale

df = pd.read_csv('wine.csv')
# Сгенерируйте отчёт одной строкой.

d = dtale.show(df)
d

In [ ]:

# Сгенерируйте отчёт одной строкой.

profile = ProfileReport(df, title="Pandas Profiling Report")

profile

NameError: name 'ProfileReport' is not defined

2024-08-21 18:40:16,161 - INFO     - Executing shutdown due to inactivity...
2024-08-21 18:40:20,260 - INFO     - Executing shutdown...
2024-08-21 18:40:20,263 - INFO     - Not running with the Werkzeug Server, exiting by searching gc for BaseWSGIServer