2.4

In [10]:
import pandas as pd
names = ['chlorhexidine', 'cyntomycin', 'afobazol'] 
counts = [15, 18, 7]

def create_medications(names, counts):
    medications = pd.Series(
    data = counts,
    index = names,)
    return medications

def get_percent(medications, name):
    return medications.loc[name] / sum(medications) * 100

print(get_percent(create_medications(names, counts), "chlorhexidine"))

37.5

3.5

In [32]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

def create_companyDF(income, expenses, years):
    df=pd.DataFrame({'Income':income,'Expenses':expenses}, index=years)
    return df

display(create_companyDF(income, expenses, years))

def get_profit(df, year):
    if year in df.index:
        profit= df.loc[year,'Income']-df.loc[year,'Expenses']
    else:
        profit= None
    return profit

display(get_profit(create_companyDF(income, expenses, years), 2019))

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

382

8.1

In [54]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [55]:
# У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты?
display(melb_data[melb_data['Bathroom'] == 0]['Bathroom'].count())
# 8.2 SellerG ['SellerG'] == 'Nelson'
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

34

5

In [56]:
# 8.3 Какова минимальная стоимость участка без здания?
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

In [57]:
# 8.4
round(melb_data[((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015)) & (melb_data['Price'] < 1000000)]['Price'].mean())

769239

In [58]:
# 8.5
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

9. Закрепление знаний

In [59]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [60]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [61]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [42]:
student_data.loc[155]['writing score']

88

In [45]:
round(student_data['math score'].mean())

66

In [46]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [50]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [51]:
student_data[student_data['math score'] == 0]['math score'].count()

1

In [70]:
student_data[student_data['lunch'] == 'standard']['math score'].mean()
student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

70.03410852713178

In [72]:
student_data[student_data['parental level of education']=="bachelor's degree"].value_counts(normalize=True)

gender  race/ethnicity  parental level of education  lunch         test preparation course  math score  reading score  writing score
female  group A         bachelor's degree            standard      none                     45          59             64               1
male    group B         bachelor's degree            free/reduced  none                     55          59             54               1
        group C         bachelor's degree            standard      completed                71          74             68               1
                                                                                            63          64             66               1
                                                     free/reduced  none                     61          66             61               1
                                                                                                                                       ..
female  group C         bachelor's degree            standard      none                     67          69             75               1
                                                                                            65          79             81               1
                                                                                                        72             74               1
                                                                                            63          75             81               1
male    group E         bachelor's degree            standard      none                     82          62             62               1
Name: count, Length: 118, dtype: int64

In [79]:
a = student_data[student_data['race/ethnicity']=='group A']['writing score'].median()
c = student_data[student_data['race/ethnicity']=='group C']['writing score'].mean()
round(abs(a-c))

6