In [2]:
import pandas as pd
pd.__version__
print(pd.__name__)

pandas

создать Series

In [ ]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

In [ ]:
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
display(countries)

Обращаться к Series можно и просто по индексам, но лучше так

In [ ]:
print(countries.loc['US'])
# США

In [ ]:
print(countries.loc[['US', 'RU', 'UK']])

In [ ]:
print(countries.iloc[1:4])

## DATAFRAME КАК СТРУКТУРА ДАННЫХ

In [7]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [6]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'area'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [8]:
# по строкам
countries_df.mean(axis=0, numeric_only=True)

population    9.070000e+01
area          5.800860e+06
dtype: float64

In [9]:
# по столбцам
countries_df.mean(axis=1, numeric_only=True)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

ДОСТУП К ДАННЫМ В DATAFRAME

In [ ]:
# Можно обратиться к DataFrame по имени столбца через точку:
countries_df.population
# Другой вариант — обратиться к DataFrame по индексу и указать имя столбца:
countries_df['population']

In [ ]:
# Получим площадь Великобритании:
countries_df.loc['UK', 'area']
# Получим население и площадь, соответствующие России:
countries_df.loc['RU', ['population', 'area']]
# Сделаем вырезку из таблицы и получим информацию о населении и площади, соответствующую Украине, Беларуси и Казахстану:
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'area']]
countries_df.iloc[4:8, 1:3]

## 4. Работа с различными источниками данных в Pandas

Основные параметры метода DataFrame to_csv()

path_or_buf — путь до файла, в который будет записан DataFrame (например, data/my_data.csv);

sep — разделитель данных в выходном файле (по умолчанию ',');

decimal — разделитель чисел на целую и дробную части в выходном файле (по умолчанию '.');

columns — список столбцов, которые нужно записать в файл (по умолчанию записываются все столбцы);

index — параметр, определяющий, требуется ли создавать дополнительный столбец с индексами строк в файле (по умолчанию True).

In [3]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

Основные параметры функции read_csv()

filepath_or_buffer — путь до файла, который мы читаем;

sep — разделитель данных (по умолчанию ',');

decimal — разделитель чисел на целую и дробную часть в выходном файле (по умолчанию '.');

names — список с названиями столбцов для чтения;

skiprows — количество строк в файле, которые нужно пропустить (например, файл может содержать служебную информацию, которая нам не нужна).

In [4]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

Методы для записи таблиц в файлы отличных от csv форматов:

to_excel() — запись DataFrame в формат Excel-таблицы (.xlsx);

to_json() — запись DataFrame в формат JSON (.json);

to_xml() — запись DataFrame в формат XML-документа (.xml);

to_sql() — запись DataFrame в базу данных SQL (для реализации этого метода необходимо установить соединение с базой данных).

Методы для чтения таблиц из файлов в отличных от csv форматах:

read_excel() — чтение из формата Excel-таблицы (.xlsx) в DataFrame;

read_json() — чтение из формата JSON (.json) в DataFrame;

read_xml() — чтение из формата XML-документа (.xml) в DataFrame;

read_sql() — чтение из базы данных SQL в DataFrame (также необходимо установить соединение с базой данных).

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

## 5. Знакомимся с данными: недвижимость

index — номер строки
Suburb — наименование пригорода
Address — адрес
Rooms — количество комнат в помещении
Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)
Price — цена помещения
Method — метод продажи 
SellerG — риэлторская компания
Date — дата продажи (в формате день/месяц/год)
Distance — расстояния до объекта от центра Мельбурна 
Postcode — почтовый индекс
Bedroom — количество спален
Bathroom — количество ванных комнат
Car — количество парковочных мест
Landsize — площадь прилегающей территории
BuildingArea — площадь здания
YearBuilt — год постройки
CouncilArea — региональное управление
Lattitude — географическая широта
Longitude — географическая долгота
Regionname — наименование района Мельбурна
Propertycount — количество объектов недвижимости в районе, выставленных на продажу
Coordinates — широта и долгота, объединённые в кортеж

In [3]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [30]:
display(melb_data.iloc[15]['Price'])
display(melb_data.iloc[90]['Date'])
#display(melb_data.iloc[3521])
#display(melb_data.iloc[1690])
display(melb_data.iloc[3521]['Landsize']-(melb_data.iloc[1690]['Landsize']+melb_data.iloc[1690]['BuildingArea']))

1310000.0

'10/09/2016'

2.0

 ## 6. Исследование структуры DataFrame

In [33]:
display(melb_data.head(3))

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"

In [34]:
# узнать размер таблицы
melb_data.shape

(13580, 23)

In [ ]:
# получить информацию о столбцах
melb_data.info()

In [ ]:
# преобразовать тип данных столбца:
melb_data['Car'] = melb_data['Car'].astype('int64')

Подробнее о типах данных в Pandas можно прочитать здесь.
https://dfedorov.spb.ru/pandas/Обзор%20типов%20данных%20pandas.html

In [35]:
# выведем на экран значение статистических параметров
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

метод describe() возвращает DataFrame, в котором указаны:

количество непустых строк (count);

количество уникальных значений (unique);

самое частое значение — мода —  (top);

частота — объём использования — этого значения (freq) для каждого столбца типа object исходной таблицы.

In [36]:
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [46]:
# сколько раз в столбце повторяется каждый из вариантов значений
melb_data['Type'].value_counts(normalize=True)

Type
h    0.695803
u    0.222165
t    0.082032
Name: proportion, dtype: float64

In [2]:
melb_data.info(int)

NameError: name 'melb_data' is not defined

.info() метод выводит:

информацию об индексах;

информацию об общем количестве столбцов;

таблицу, в которой содержится информация об именах столбцов (Column), количестве непустых значений (Non-Null Count) в каждом столбце и типе данных столбца (Dtype), количестве столбцов, в которых используется определённый тип данных;

количество оперативной памяти в мегабайтах, которое тратится на хранение данных.

## 7. Статистические методы

МЕТОД	СТАТИСТИЧЕСКИЙ ПАРАМЕТР

.count()	Количество непустых значений

.mean()	Среднее значение

.median() Медианное значение

.min()	Минимальное значение

.max()	Максимальное значение

.var()	Дисперсия

.std()	Стандартное отклонение

.sum()	Сумма

.quantile(x)	Квантиль уровня x

.nunique()	Число уникальных значений

В каждый метод можно передать некоторые параметры, среди которых:

axis  — определяет, подсчитывать параметр по строкам или по столбцам;

numeric_only — определяет, вычислять параметры только по числовым столбцам/строкам или нет (True/False).

In [8]:
# Вычислим среднюю цену на объекты недвижимости:
print(melb_data['Price'].mean())
# 1075684.079455081

# Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?
BuildingArea_median = melb_data['BuildingArea'].median()
BuildingArea_mean = melb_data['BuildingArea'].mean()
print(round(abs(BuildingArea_median-BuildingArea_mean)/BuildingArea_mean*100))

1075684.079455081
10

In [6]:
# Найдём максимальное количество парковочных мест:
print(melb_data['Car'].max())
# Найдём максимальное количество домов на продажу:
print(melb_data['Propertycount'].max())
# Найдём стандартное отклонение (разброс) расстояния от центра города:
print(round(melb_data['Distance'].std()))

10.0
21650.0
6

МОДАЛЬНОЕ ЗНАЧЕНИЕ (самое распространенное значение)

In [9]:
# Вычислим, какое число комнат чаще всего представлено на рынке недвижимости:
print(melb_data['Rooms'].mode())
# 0    3
# dtype: int64

# Сколько спален чаще всего встречается в домах в Мельбурне?
print(melb_data['Bedroom'].mode())

0    3
Name: Rooms, dtype: int64
0    3.0
Name: Bedroom, dtype: float64

## 8. Фильтрация данных в DataFrame

In [10]:
# Создадим маску и положим её в переменную с именем mask. (например, цена > 2 млн)
mask = melb_data['Price'] > 2000000
display(melb_data[mask].head())
# или
melb_data[melb_data['Price'] > 2000000]

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,0.0,211.0,198.0,1890.0,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280.0,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,1.0,153.0,180.0,1880.0,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280.0,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,1.0,199.0,107.0,1900.0,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280.0,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,1.0,177.0,181.0,1880.0,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280.0,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,1.0,237.0,126.0,1970.0,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280.0,"-37.8436, 144.9557"

In [11]:
# дома с ценой менее 300 тысяч, у которых либо число комнат равно 3 либо площадь домов более 100 квадратных метров:
melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]

68

In [ ]:
# найдём максимальное количество комнат в таунхаусах
melb_data[melb_data['Type'] == 't']['Rooms'].max()
# 5

In [ ]:
# найдём медианную площадь здания у объектов, чья цена выше средней
mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()

# 126.0

## Настольная шпаргалка по Pandas
https://lms.skillfactory.ru/asset-v1:SkillFactory+DST-3.0+28FEB2021+type@asset+block@Pandas_info.pdf
## Замечательная книга, которую вы можете использовать как справочник при работе с Pandas
https://itfy.org/threads/kniga-o-biblioteke-pandas-pandas-rabota-s-dannymi-abdraxmanov-m-i.1262/
## Введение в анализ данных с помощью Pandas на Habr
https://habr.com/ru/post/196980/
## Книги для спеца по Big Data на странице SkillFactory в VK
https://vk.com/wall-127410398_7238

Для получения статистической информации обо всех столбцах таблицы используется метод describe(). Так как все упомянутые признаки являются числовыми, метод describe() используется по умолчанию без аргументов.