##  6. Закрепление знаний

In [59]:
import pandas as pd
citibike_tripdata = pd.read_csv('data/citibike-tripdata.csv', sep=',')
cb_td = citibike_tripdata.copy()

In [54]:
cb_td.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [61]:
cb_td.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [17]:
# Сколько пропусков в столбце start station id?
299831-300000

-169

In [20]:
# Найдите идентификатор самой популярной стартовой стоянки.
cb_td['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

In [21]:
# Велосипед с каким идентификатором является самым популярным?
cb_td['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

In [29]:
# Какой тип клиентов (столбец usertype) является преобладающим и его доля
display(cb_td['usertype'].mode())
subscribers = cb_td[cb_td['usertype'] == 'Subscriber']['usertype'].count()
usertypes = cb_td['usertype'].count()
result = subscribers/usertypes
display(round(result,2))

0    Subscriber
Name: usertype, dtype: object

0.77

In [31]:
# Кто больше занимается велоспортом — мужчины или женщины?
display(cb_td['gender'].mode())
display(cb_td[cb_td['gender'] == 1]['gender'].count())

0    1
Name: gender, dtype: int64

183582

In [60]:
display(cb_td['start station name'].describe())
display((cb_td['start station id'].count()) == (cb_td['end station id'].count()))
display(cb_td['birth year'].max() > 2014)
display(cb_td['start station name'].value_counts())
display(cb_td['end station id'].mode() == "Liberty Light Rail")

count                                299831
unique                                  759
top       Grand Army Plaza & Central Park S
freq                                   1928
Name: start station name, dtype: object

True

False

start station name
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: count, Length: 759, dtype: int64

0    False
Name: end station id, dtype: bool

In [ ]:
#  удалим лишнюю информацию из данных
cb_td.drop(['start station id','end station id'],axis=1)

In [51]:
# Узнаем размер таблицы
cb_td.shape

(300000, 12)

In [57]:
# Заменяем признак даты рождения на признак возраста
cb_td['age'] = 2018 - cb_td['birth year']
cb_td.drop(['birth year'], axis=1, inplace=True)
#  Сколько поездок совершено клиентами старше 60 лет?
print(cb_td[cb_td['age'] > 60].shape[0])

11837

Задание 6.10 Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [62]:
# приводим столбцы к datetime
cb_td['starttime'] = pd.to_datetime(cb_td['starttime'])
cb_td['stoptime'] = pd.to_datetime(cb_td['stoptime'])
# вычитаем время старта из времени финиша
cb_td['trip duration'] = (cb_td['stoptime'] - cb_td['starttime'])
# обращаемся по индексу 3 в столбце trip duration
cb_td.loc[3, 'trip duration']

Timedelta('0 days 00:07:16.837000')

Задание 6.11 Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [64]:
# переменная weekday с обозначениями дней недели (.dt.dayofweek)
weekday = cb_td['starttime'].dt.dayofweek
# в столбец weekend заносим признак выходного дня с помощью метода .apply( и функции
cb_td['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
# определяем число поездок начавшихся в выходные
cb_td['weekend'].sum()

115135

Задание 6.12 Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки.

In [66]:
# функция get_time_of_day определяющая время суток путем проведения проверки условий
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'

# создаем столбец для занесения в него времени суток с помощью метода .apply( и функции get_time_of_day
cb_td['time_of_day'] = cb_td['starttime'].dt.hour.apply(get_time_of_day)
a = cb_td[cb_td['time_of_day'] == 'day'].shape[0]
b = cb_td[cb_td['time_of_day'] == 'night'].shape[0]
# определяем отношение поездок днем к поездкам ночью
print(round(a / b))

9