In [1]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()

2.3

In [7]:
customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

def delete_columns(df, col=[]):
    for colu in col:
        if colu not in df.columns:
            return None
    new_df = df.drop([*col],axis=1)
    return new_df

display(delete_columns(customer_df, col=['sdgf', 'cust_sale']))

None

In [6]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_pl= countries_df['population']*1000000/countries_df[ 'area']
round(countries_pl.mean(), 2)

84.93

3.3 Создайте в таблице melb_df признак WeekdaySale (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count. В качестве ответа введите результат вывода переменной weekend_count.

In [3]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 6) | (melb_df['WeekdaySale'] == 5)].shape[0]
display(weekend_count)

12822

In [43]:
ufo_data = pd.read_csv('data/ufo.csv', sep=',')
ufo_df = ufo_data.copy()
ufo_df['Time'] = pd.to_datetime(ufo_df.Time)
ufo_df.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [45]:
ufo_years = ufo_df['Time'].dt.year
display(ufo_years.mode()[0])

1999

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

In [49]:
# выделяем дату из столбца со временем
ufo_df['Date'] = ufo_df['Time'].dt.date
# находим средний интервал между днями с нло в неваде
print(ufo_df[ufo_df['State']=='NV']['Date'].diff().dt.days.mean())

68.92932862190813

Задание 4.2
Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.

In [18]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else: 
        return 0
# применяем метод .apply() с функцией к столбцу WeekdaySale и заносим результат в новый столбец
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)

print(round(melb_df[melb_df['Weekend']==1]['Price'].mean()))

1081199

Задание 4.3
Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [28]:
popular_selers = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_selers else 'other')
a = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
c = melb_df[melb_df['SellerG'] == 'other']['Price'].min()
display(round(a/c, 1))

1.3

Задание 4.4 (External resource)

In [ ]:
def get_experience(arg):
    # список уникальных обозночений месяца
    month_key_words = ['месяц', 'месяцев', 'месяца']
    # список уникальных обозночений года
    year_key_words = ['год', 'лет', 'года']
    # список с опытом разделенный по пробелу
    args_splited = arg.split(' ')
    # счетчики дат
    month = 0
    year = 0
    # цикл, проходимся по индексам значений в списке с опытом
    for i in range(len(args_splited)):
        # если i соответствует значению из списка с обозначениями месяца
        if args_splited[i] in month_key_words:
            # заносим это во  счетчик месяцев
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    # возвращаем сумму лет в месяцех и месяцев
    return int(year)*12 + int(month)

Задание 5.2
При преобразовании столбцов таблицы о недвижимости к типу category мы оставили без внимания столбец Suburb (пригород). Давайте исправим это.

In [34]:
display(melb_df.info())
popular_subs = melb_df['Suburb'].value_counts().nlargest(119).index
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in popular_subs else 'other')
melb_df['Suburb'] = melb_df['Suburb'].astype('category')
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  int32
 24  Weekend        13580 non-null  int64
 25  Weekend        13580 non-null  int64
dtypes: datetime64[ns](1), float64(6), int32(1), int64(10), object(8)
memory usage: 2.6+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  WeekdaySale    13580 non-null  int32
 24  Weekend        13580 non-null  int64
 25  Weekend        13580 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(6), int32(1), int64(10), object(7)
memory usage: 2.6+ MB

None